{{ if (eq .chezmoi.os "darwin" "linux") -}}

#!/bin/bash

set -eufo pipefail

source ~/.pyenvrc

PYVER={{ .python_ver }}

if [[ "$(pyenv global)" != "$PYVER" ]]; then
    pyenv install $PYVER
    pyenv global $PYVER

    pip install virtualenvwrapper
fi

{{ end -}}
