{{ if (eq .chezmoi.os "darwin" "linux") -}}

{{ $extensions := list
     "bierner.github-markdown-preview"
     "bierner.markdown-checkbox"
     "bierner.markdown-emoji"
     "bierner.markdown-footnotes"
     "bierner.markdown-preview-github-styles"
     "bierner.markdown-yaml-preamble"
     "bungcip.better-toml"
     "codezombiech.gitignore"
     "eamodio.gitlens"
     "esbenp.prettier-vscode"
     "formulahendry.code-runner"
     "golang.go"
     "jspolancor.presentationmode"
     "marp-team.marp-vscode"
     "ms-azuretools.vscode-docker"
     "ms-python.python"
     "ms-python.vscode-pylance"
     "ms-toolsai.jupyter"
     "ms-toolsai.jupyter-keymap"
     "ms-toolsai.jupyter-renderers"
     "ms-vscode.live-server"
     "redhat.java"
     "tomoki1207.pdf"
     "VisualStudioExptTeam.vscodeintellicode"
     "vscjava.vscode-java-debug"
     "vscjava.vscode-java-dependency"
     "vscjava.vscode-java-pack"
     "vscjava.vscode-java-test"
     "vscjava.vscode-maven"
     "vscodevim.vim" -}}

#!/bin/bash

set -eufo pipefail

{{ range $extensions -}}
code --force --install-extension {{ . }}
{{ end -}}

{{ end -}}
